################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Policy.Domain.API/bin/Debug/net6.0
/Policy.Domain.API/obj
/Policy.Domain.API/Policy.Domain.API.csproj.user
